<li class="comment">
  <div class="by"><a href="#/user/{{@comment.user}}" class="">{{@comment.user}}</a>
    {{@comment.time_ago}}
  </div>
  <div class="text">  {{{@comment.content}}} </div>
  <div class="toggle open"><a>[-]</a></div>

  <ul class="comment-children">
    {{yield @comment.comments}}
  </ul>
</li>
