<header class="header">
  <nav class="inner">
    <div class="container-logo">
      <a href="#/news/1">
        <img
          alt="Glimmer HN PWA"
          class="logo"
          src="/assets/icon.jpg">
        <span>
        Glimmer HN |
        </span>
      </a>
    </div>
    <div class="fadein">
      <a href="#/news/1" class="{{if (eq @routeMode 'news') "selected"}} {{if (eq @routeMode ' ') "selected"}}">Top</a>
      <a href="#/newest/1" class="{{if (eq @routeMode 'newest') "selected"}}">New</a>
      <a href="#/show/1" class="{{if (eq @routeMode 'show') "selected"}}">Show</a>
      <a href="#/ask/1" class="{{if (eq @routeMode 'ask') "selected"}}">Ask</a>
      <a href="#/jobs/1" class="{{if (eq @routeMode 'jobs') "selected"}}">Jobs</a>
    </div>
  </nav>
</header>