<ul>
  <li class="news-item fadein">
    <h2>ABOUT {{@userInfo.id}}</h2>
    <div class="person">
      <div class="person--avatar">
        {{#if @userInfo.avg}}
          <img src={{@userInfo.avg}}>
        {{else}}
          <img
          src="/assets/user.png">
        {{/if}}
        <br>
        <span class="karma">Karma: {{@userInfo.karma}}</span>
      </div>
      <div class="person--info">
        <h4>ID: {{@userInfo.id}}</h4>
        <h4>created: {{@userInfo.id}}</h4>
        {{{@userInfo.about}}}
      </div>
    </div>
  </li>
</ul>