{{#if @post.title}}
  <ul>
    <li class="news-item">
      <span class="score">{{@post.points}}</span>
      <span class="title">
        <a href="{{@post.url}}" target="_blank" rel="noopener">
          {{@post.title}}
        </a>
        <span class="host"> {{@post.domain}}</span>
    </span>
      <br>
      <span class="meta">
        {{#if @post.user}}
          <span class="by">
          by <a href="#/user/{{@post.user}}" class="">{{@post.user}}</a>
          </span>
        {{/if}}
        <span class="time">
          {{@post.time_ago}}
        </span>
    </span>
    </li>
  </ul>
{{/if}}
<h2>Comments</h2>
<div class="item-view-comments">
  <p class="item-view-comments-header">
    {{#if @post.comments_count}}
    {{@post.comments_count}}
    {{#if (eq @post.comments_count 1)}} Comment  {{else}} Comments {{/if}}
    {{else}}
      No comment found.
    {{/if}}

  </p>
  <ul class="comment-children">
    {{#each @comments key="id" as |comment|}}
      <comment-item @comment={{comment}} as |nestedComment|>
        {{#each nestedComment key="id" as |nested|}}
          <comment-item @comment={{nested}}></comment-item>
        {{/each}}
      </comment-item>
    {{/each}}
  </ul>
</div>