{{#if @result.title}}
  <li class="news-item">
    <span class="score">{{@result.points}}</span>
    <span class="title">
      {{#if (validateUrl @result.url)}}
        <a href="{{@result.url}}" target="_blank" rel="noopener">
          {{@result.title}}
        </a>
      {{else}}
        <span class="darkText">
          {{@result.title}}
        </span>
      {{/if}}
      <span class="host"> {{@result.domain}}</span>
    </span>
    <br>
    <span class="meta">
        {{#if @result.user}}
          <span class="by">
          by <a href="#/user/{{@result.user}}" class="">{{@result.user}}</a>
          </span>
        {{/if}}
      <span class="time">
        {{@result.time_ago}}
      </span>
      {{#if @result.comments_count}}
        <span class="comments-link"> | <a href="#/item/{{@result.id}}" class="">{{@result.comments_count}}
          {{#if (eq @result.comments_count 1)}} Comment  {{else}} Comments {{/if}}
        </a>
        </span>
      {{/if}}
    </span>
  </li>
{{/if}}