{{component 'core-header' routeMode=routeMode}}

<div class="news-view">
  {{#if (noteq routeMode 'item')}}
    {{#if (noteq routeMode 'user')}}
      <div class="news-list-nav">
        <a class='{{if (eq page 1) "hidden"}}' onclick={{action previousPage}}>&lt; Prev</a>
        {{page}}
        <a class='{{if (eq results.length 0) "hidden"}}' onclick={{action nextPage}}>Next &gt;</a>
      </div>
    {{/if}}
  {{/if}}
  <div class="news-list">
    <div class="view">
      {{#if loading}}
        <loading-sign></loading-sign>
      {{else}}
        {{#if (eq routeMode 'item')}}
          {{component 'comments-list' comments=comments post=post}}
        {{/if}}
        {{#if (noteq routeMode 'item')}}
          {{#if (noteq routeMode 'user')}}
            {{component 'items-list' results=results}}
          {{/if}}
        {{/if}}
        {{#if (eq routeMode 'user')}}
          {{component 'user-info' userInfo=userInfo}}
        {{/if}}
      {{/if}}
      {{component 'core-footer'}}
    </div>
  </div>
</div>

