{{component 'core-header' routeMode=routeMode}}

<div class="news-view">
  {{#if (noteq routeMode 'item')}}
    {{#if (noteq routeMode 'user')}}
      <div class="news-list-nav">
        <a class='{{if (eq page 1) "hidden"}}' onclick={{action changePage '-1'}}>&lt; Prev</a>
        {{page}}
        <a class='{{if (eq results.length 0) "hidden"}}' onclick={{action changePage '1'}}>Next &gt;</a>
      </div>
    {{/if}}
  {{/if}}
  <div class="news-list">
    <div class="view">
      {{#if loading}}
        {{component 'loading-sign' repeat=repeat}}
      {{else}}
        {{#if (eq routeMode 'item')}}
          {{component 'comments-list' comments=comments post=post}}
        {{/if}}
        {{#if (noteq routeMode 'item')}}
          {{#if (noteq routeMode 'user')}}
            {{component 'items-list' results=results routeMode=routeMode}}
          {{/if}}
        {{/if}}
        {{#if (eq routeMode 'user')}}
          {{component 'user-info' userInfo=userInfo}}
        {{/if}}
        <!-- Glimmer throwing error in this case -->
      {{!--component componentName comments=comments post=post results=results userInfo=userInfo--}}
      {{/if}}
      {{component 'core-footer'}}
    </div>
  </div>
</div>

