<core-header @routeMode={{routeMode}}></core-header>

<div class="news-view">
  <div class="news-list-nav">
    <a onclick={{action previousPage}}>&lt; Prev</a>
    <a onclick={{action nextPage}}>Next &gt;</a>
  </div>
  <div class="news-list">
    <div class="view">
      {{#if loading}}
        <loading-sign></loading-sign>
      {{else}}
        {{#if (eq routeMode 'item')}}
          <comments-list @comments={{comments}} @post={{post}}></comments-list>
        {{/if}}
        {{#if (noteq routeMode 'item')}}
          {{#if (noteq routeMode 'user')}}
            <items-list @results={{results}}></items-list>
          {{/if}}
        {{/if}}
        {{#if (eq routeMode 'user')}}
          <user-info @userInfo={{userInfo}}></user-info>
        {{/if}}
      {{/if}}
      <core-footer></core-footer>
    </div>
  </div>
</div>

