<core-header @routeMode={{routeMode}}></core-header>

<div class="news-view">
  <div class="news-list-nav">
    More...
    <!--<a onclick={{action previousPage}}>&lt; prev</a>-->
    <!--<a onclick={{action nextPage}}>more &gt;</a>-->
  </div>
  <div class="news-list">
    <div class="view">
      <items-list
        @results={{results}}
        @onDestroy={{action cleanUp}}>
      </items-list>
    </div>
  </div>
</div>

